<!--Gcm-->

<h1>Edit Student Details</h1>
		<div class="details" ng-app="grievances" ng-controller="Gcm">
			<table>
				<tr>
					<td>Name</td>
					<td><input ng-model="name" readonly></td>
				</tr>
				<tr>
			    <tr>
					<td>Designation</td>
					<td><input ng-model="Desg" readonly></td>
				</tr>
				<tr>
					<td>Grievance Type</td>
					<td><input ng-model="Gtype" readonly></td>
				</tr>
				<tr>
					<td>Email Id</td>
					<td><input ng-model="email"></td>
				</tr>
				<tr>
					<td>Mobile Number</td>
					<td><input ng-model="mobile" ></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="button" ng-click="submit()">Update</button></td>
				</tr>
			</table>

		</div>
