<form method='post' action="/Admin/create">
    <input type="text" placeholder="Enter name" name="name"/>
    <input type="text" placeholder="Enter Designation" name="Des"/>

    enter Gtype
    <select name="gtype" type="text">
        <option value="A" >A</option>
        <option value="B">B</option>
        <option value="C">C</option> 
        <option value="D">D</option> 
        <option value="E">E</option> 
        <option value="F">F</option>      
        </select> 
    <input type="checkbox" name="mngmnt" >is Management 
    <input type="text" placeholder="Enter Email" name="email"/>
    <input type="text" placeholder="Enter mobile no." name="mobile"/>
    <button type="submit">create</button>
</form>